.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wrapper {
  margin: 100px 100px 50px 50px;
  background-color: #F5DEB3;
}


.title {
  font-size: 30px;
  padding-top: 50px;
}

.counter {
  font-size: 50px;
}

.xs {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  margin: 10px 10px 50px 0px;
  -webkit-box-shadow: 8px 11px 10px -1px rgba(34, 60, 80, 0.49);
  -moz-box-shadow: 8px 11px 10px -1px rgba(34, 60, 80, 0.49);
  box-shadow: 8px 11px 10px -1px rgba(34, 60, 80, 0.49);
  cursor: pointer;
}

.xs:hover {
  transform: translateY(-3px);
  transition: all 0.5s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.xs:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



.xs-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

.plus {
  background-color: #A52A2A;
}

.minus {
  background-color: #CD853F;
}